header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1%;
}

body
{
	margin: 1%;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #0065FC;
}

ul
{
    list-style-type: none;
}

form
{
    display: flex;
    align-items: center;
}

form i
{
    border: 2px #F2F2F2 solid;
    display: flex;
    align-items: center;
    margin: 1%;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    padding: 1%;
    display: inline-block;
    background-color: #F2F2F2;
}

#filtre
{
    display: flex;
    align-items: flex-start;
}

#filtre a 
{
    border: 2px #F2F2F2 solid;
    display: flex;
    align-items: center;
    margin: 1%;
    border-radius: 100%;
    padding: 1%;
    display: inline-block;
    background-color: #DEEBFF;
}

#filtre p
{
    border: 2px #F2F2F2 solid;
    display: flex;
    align-items: center;
    display: inline-block;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-right: 2%;
    padding: 1%;
}

#filtre i
{
    color: blue;
}

#hebergement
{
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 1%;
    padding: 1%;
    border-radius: 2%;
}

#photos_haut, #photos_bas
{
    display: flex;
}

#populaires
{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    background-color: #F2F2F2;
    border-radius: 2%;
}

#populaire_titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p
{
    padding: 2%;
}

nav p:hover
{
    border-top: 1px #0065FC solid;
}

nav p a
{
    text-decoration: none;
}

#section_hebergement_populaires
{
    display: flex;
}

#formulaire
{
    display: flex;
}

#activite
{
    margin: 1%;
    padding: 1%;
    width: 95%;
}

#encadre_activite
{
    width: 90%;
    height: 50%;
    display: flex;
}

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 1%;
}

@media screen and (max-width: 1000px)
{
    header nav
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #filtre
    {
        flex-direction: column;
    }

    #section_hebergement_populaires
    {
        flex-direction: column;
    }

    #hebergement, #activite
    {
        width: 100%;
        flex-direction: column;
        padding: 1%;
    }

    #phtos_haut
    {
        flex-direction: column;
    }

    #photo_bas
    {
        flex-direction: column;
    }
}


#activite_test
{
    margin: 1%;
    padding: 1%;
    width: 95%;
}

#encadre_activite_test
{
    width: 100%;
    display: flex;
}


.grandes_photos
{
    width: 100%;
    padding: 1%;
    /*border: 1px #F2F2F2 solid;
    box-shadow: 0 2px 2px #f2f2f2; 
*/
}

.grandes_photos img
{
    width: 100%;
    height: 400px;
    padding: 1%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.petites_photos
{
    width: 100%;
    padding: 1%;
    border-bottom: 1px #F2F2F2 solid;
    box-shadow: 0 2px 2px #f2f2f2;
   
}

.petites_photos img
{
    width: 100%;
    height : 150px;
    padding: 1%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.photo_sur_photo_test
{
    display: flex;
    flex-direction: column;
}

