header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1%;
    align-items: center;
}

#header_logo
{
     width: 70%;    
}

#s_inscrire
{
    width: 10%;
    color: blue;
}

body
{
	margin: 1%;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: black;
    margin-right: 5%;
}

nav a:visited
{
    /*color: rgb(225, 0, 255);*/
    color: blue;
}

ul
{
    list-style-type: none;
}

nav p
{
    padding: 2%;
    color: black;
}

nav p:hover
{
    border-top: 1px #0065FC solid;
    
}

nav p a
{
    text-decoration: none;
    padding: 2rem;
    font-weight: bold;
}

nav p:visited
{
    color: black;
}

header p
{
   text-decoration: none;
}

#presentation_site
{
    margin-top: 0;
}

#formulaire
{
    display: flex;
    margin: 1%;
    align-items: center;  
    width: 100%;
    border-radius: 35%;   
}

form i
{
    border: 2px #F2F2F2 solid;
    display: flex;
    text-align: center;
    height: 15px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    padding: 1%;
    display: inline-block;
    background-color: #F2F2F2;
}

#localisation
{
    border: #F2F2F2 1px solid;
    padding: 1%;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    height: 15px;
}

#recherche
{
    background-color: #0065FC;
    color: white;
    padding: 1%;
    display: inline-block;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border: none;
    cursor: pointer;
}

#recherche i
{
    display: none;
}

#filtre
{
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-right: 2rem;
}

#titre_filtre
{
    margin-right: 3%;
}

#liste_filtre
{
    display: flex;
}

.categorie_filtre 
{
    border: 2px #F2F2F2 solid;
    border-radius: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
  
.categorie_filtre a 
{
    display: block;
    background: #DEEBFF;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3,5rem;
    min-height: 3,5rem;
}
  
.categorie_filtre p 
{
    width: 80%;
    margin-right: 1%;
    text-align: center;
    cursor: pointer;
    margin: 0 1rem;
}
  
.categorie_filtre i 
{ 
    color: #0065FC; 
    
}

#section_hebergement_populaires
{
    display: flex;
}

#hebergement
{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 1%;
    padding: 1%;
    border-radius: 2%;
}

.etoiles i
{
    color: #0065FC;
}

#photos_haut, #photos_bas
{
    display: flex;
}

#hebergement h3, #hebergement h4
{
    margin-left: 4%;
}

#populaires
{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    background-color: #F2F2F2;
    border-radius: 2%;
}

#populaire_titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos_populaire
{
    flex-direction: column;
    margin: 2%;
    width: 55%;
}

#activite
{
    margin: 1%;
    padding: 1%;
    width: 95%;
}

#encadre_activite
{
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    
}

.photo_sur_photo
{
    display: flex;
    flex-direction: column;
}

#activite figcaption
{
    padding: 5%;
    font-weight: bold;
}

.col-4
{
    /*
    flex: 4;
    margin: 1%;*/
    width: 22%;
}

footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 1%;
}

@media screen and (max-width: 1200px)
{
    body
    {
        width: 95%;
    }

    header
    {
        flex-wrap: wrap;
    }

    #header_logo
    {
        width: 70%;
    }

    #s_inscrire
    {
        width: 30%;
    }

    header nav
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        order: 2;
        width: 100%;
        text-align: center;
    }

    header p
    {
        text-decoration: none;
    }

    header nav p
    {
        width: 50%;
    }

    nav p:hover
    {
        border-bottom: 3px #0065FC solid;
        border-top: none;
        width: 50%;
    }

    #filtre
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #filtre h3
    {
        text-align: left;
    }

    #liste_filtre
    {
        display: flex;
        flex-wrap: wrap;
    }


    .categorie_filtre
    {
        width: 60%;
        margin-bottom: 1rem;
    }

    #recherche span
    {
        display: none;
    }

    #section_hebergement_populaires
    {
        display: flex;
        flex-direction: column-reverse;  
    }

    #photos_haut, #photos_bas
    {
        display: flex;
        flex-direction: column;
    }

    #populaires
    {
        width: 100%;
        margin: none;
    }

    #hebergement, #activite
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .photos_hebergement 
    {
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0 20px #0000002e;
        border-radius: 7%;
        margin: 3%;
    }

    .photos_hebergement img 
    {
        width: 100%;
        height : 80%;
        border-top-left-radius: 7%;
        border-top-right-radius: 7%;
        object-fit: cover;
    }

    #encadre_activite
    {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .col-4
    {
        width: 100%;
        margin-bottom: 2%;
    }

    .grandes_photos, .petites_photos
    {
        width: 100%;
        height: 150px;
        border-radius: 7%;
        object-fit: cover;
        box-shadow: 0 0 20px #0000002e;
    }

    .grandes_photos img, .petites_photos img
    {
        width: 100%;
        height : 80%;
        border-top-left-radius: 7%;
        border-top-right-radius: 7%;
        object-fit: cover;
    }


    figure
    {
        margin: 0;
    }

    footer
    {
        flex-direction: column;
    }
}




